<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button left menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{dvmform.title.value}}</ion-title>
  </ion-toolbar>
</ion-header>
<form [formGroup]="formGroup" [class]="md" (submit)="onSubmit($event);  $event.stopPropagation();">

  <ion-list>

    <!-- RENDER FORM TITLE LIKE A CONTROL ROW -->
    <!-- <div [class]="'form_title'" (click)="showPageID();" [class]="dvmform.title.attributes.styleClass" [ngStyle]="dvmform.title.attributes.cssStyle">
      {{dvmform.title.value}}
    </div> -->
   
    <ion-item>
      <div *ngFor="let control  of formControls" class="form-row">
        <dynamic-form-control-comp [control]="control" [formGroup]="formGroup" 
          (itemSelected)="receiveSelectedItem( $event)"
          (autoSubmitInput)="onAutoSubmit( $event)" 
          (datawedgeBarcodeReceived)="onDatawedgeBarcodeReceived()" 
          >
          
        </dynamic-form-control-comp>

      </div>
    </ion-item>

  </ion-list>
  <footer #footer (buttonPressed)="onButtonPressed($event)"></footer>  
 
  <div (autoSubmitInput)="onAutoSubmit( event)"></div>

    

</form>