.toolbar-background {
    background-color: #488Aff;
    color: white;
}
.toolbar-title {
    color: white;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: white;
}